<!DOCTYPE html>
<html>
  <head>
    <title>EJS Template</title>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>
    <h1>This is the display all page</h1>
    <% userData.forEach((user)=>{ %>
    <div>
      <h3><%= user.name %></h3>
      <h4><%= user.address %></h4>
      <h5><%= user.city %> <%= user.zipcode %></h5>
    </div>
    <% }) %>
  </body>
</html>
